.category-list {
  padding: 10px;
  margin-top: 10px;
}

.category-title {
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 600;
}

.category-item {
  display: flex;
  justify-content: space-between;

  margin-left: 20px;

  cursor: pointer;
}

.category-item p {
  font-size: 16px;
  padding: 2px;
}

.category-item.selected {
  background: #0f548c;
  color: #fff;
}
